<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/style.css">
</head>

<body>
  <main>
    <div class="container">
      <section class="header">
        <div>
          <img src="assets/gcu-womd.png" alt="">
        </div>
        <h2>网站运维部统一登录平台</h2>
      </section>
      <div class="form-container">
        <section>
          <p>
            是否同意授权网站运维部子系统获取账户
            <!-- username -->
            <span></span>
            的以下基本信息：</p>
          <ul>
            <li>学号，姓名，联系电话</li>
          </ul>

        </section>
        <form action="POST">
          <input type="hidden" name="client_id">
          <input type="hidden" name="state">
          <input type="hidden" name="user_code">
          <input type="hidden" name="scope" value="&{scope.scope}" id="${scope.scope}">
          <div class="button-group">
            <button type="submui">同意授权</button>
            <button class="reject">拒绝授权</button>
          </div>
        </form>
      </div>
      <section class="footer">
        <span>该信息用于保证您对子系统的各个功能的正常使用</span><br>
        <span>如果不同意可能会导致部分功能无法使用</span>
      </section>
    </div>
  </main>
  <script src="assets/main.js"></script>
</body>

</html>