<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.unityauth.mapper.UserMapper">
    <update id="reset">
        update unity_user set password=#{password} where username=#{username}
    </update>
    <insert id="setDefaultRole">
        insert into unity_user_role (username) value (#{useranme})
    </insert>
    <select id="userExist" resultType="com.example.unityauth.pojo.UnityUser">
        select * from unity_user where username=#{username}
    </select>
    <insert id="register"  >
        insert into unity_user (department_id,username,password,name,phone,email,nick_name,major,grade,class_number,dorm,politicsStatus,avatar)select
#{departmentId},#{username},#{password},#{name}, #{phone}, #{email}, #{nickName}, #{major}, #{grade}, #{classNumber}, #{dorm}, #{politicsStatus}, #{avatar}
            WHERE NOT EXISTS (SELECT * FROM unity_user WHERE username = #{username})
    </insert>
    <select id="userInfoPassword" resultType="com.example.unityauth.pojo.UnityUser">
        select * from unity_user where username=#{username}
    </select>
    <select id="userInfoRole" resultType="com.example.unityauth.pojo.RoleUser">
        select role_id from unity_user_role where username=#{username}
    </select>
    <select id="userInfoUrl" resultType="com.example.unityauth.pojo.UnitySystemApi">
        select api_url from unity_system_api where api_id in(select api_id from unity_role_api where role_id =#{roleId} )
    </select>
    <select id="userMsg" resultType="com.example.unityauth.pojo.UrlWR">
        SELECT t1.role_id, t1.website_id, CONCAT( GROUP_CONCAT('"', t2.api_url SEPARATOR '", '), '"') AS url
        FROM unity_role_api AS t1
                 JOIN unity_system_api AS t2 ON t1.api_id = t2.api_id
        GROUP BY t1.role_id, t1.website_id;

    </select>
    <select id="existDepartment" resultType="java.lang.Boolean">
        SELECT COUNT(*) FROM unity_department WHERE department_id =#{departmentId};
    </select>
</mapper>