<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.unityauth.mapper.UserMapper">
    <update id="reset">
        update unity_user set password=#{password}
    </update>
    <select id="searchUser" resultType="com.example.unityauth.pojo.UnityUser">
      select password from unity_user where  username=#{username}
    </select>
    <select id="forgetCheck" resultType="java.lang.Boolean">
        select * from unity_user where username=#{username}
    </select>
    <insert id="register"  >
        insert into unity_user (departmentId,username,passsword,name,phone,email,nick_name,major,grade,class_number,dorm,politicsStatus,avatar)values (
# {departmentId},#{username},#{passsword},#{name}, #{phone}, {email}, #{nickName}, {major}, #{grade}, {classNumber}, #{dorm}, #{politicsStatus}, #{avatar}

                                                                                                                                                      )
    </insert>
</mapper>